{
  "log": {
    "_recordingName": "Security Monitoring/Create a detection rule with detection method \"third_party\" returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2de5e74de27a1b17a66fb241cf6473af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"cases\":[{\"name\":\"\",\"notifications\":[],\"status\":\"info\"}],\"filters\":[],\"isEnabled\":true,\"message\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113 message\",\"name\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113\",\"options\":{\"detectionMethod\":\"third_party\",\"evaluationWindow\":0,\"keepAlive\":3600,\"maxSignalDuration\":86400,\"thirdPartyRuleOptions\":{\"defaultStatus\":\"low\",\"rootQuery\":\"@pop\"}},\"queries\":[{\"aggregation\":\"none\",\"distinctFields\":[],\"groupByFields\":[],\"query\":\"@test:true\"}],\"tags\":[]}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 789,
            "text": "{\"creationAuthorId\":1445416,\"tags\":[],\"isEnabled\":true,\"hasExtendedTitle\":false,\"message\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113 message\",\"options\":{\"detectionMethod\":\"third_party\",\"evaluationWindow\":0,\"maxSignalDuration\":86400,\"thirdPartyRuleOptions\":{\"defaultStatus\":\"low\",\"defaultNotifications\":[],\"rootQuery\":\"@pop\"},\"keepAlive\":3600},\"version\":1,\"createdAt\":1637774113764,\"filters\":[],\"queries\":[{\"query\":\"@test:true\",\"groupByFields\":[],\"aggregation\":\"none\",\"name\":\"\",\"distinctFields\":[]}],\"isDeleted\":false,\"cases\":[{\"status\":\"info\",\"notifications\":[],\"name\":\"\"}],\"type\":\"log_detection\",\"id\":\"va8-eze-ku8\",\"isDefault\":false,\"name\":\"Test-Create_a_detection_rule_with_detection_method_third_party_returns_OK_response-1637774113\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "599"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "600"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "47"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "78160a95ba66e10a7c60e845619e1024",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/security_monitoring/rules/va8-eze-ku8"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ratelimit-remaining",
              "value": "598"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "600"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "47"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 106,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
